@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif;
}
header{
		width:1200px;
		margin:0px auto;
}
div#logo{
		float:left;
}
div#dn{
		float:right;
		margin-right:160px;
}
div#dn a{
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		font-weight:bold;
		color:yellow;
		vertical-align:middle;
}
div#hd a{
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		color:#000;
		text-decoration:none;
}
div#hd a:hover{
		color:red;
		text-decoration:underline;
}
div#dn a:hover{
		color:#900;
}
nav {
		clear:both;
		background-color:#444;
		height:45px;
}
nav div#subnav{
		width:1200px;
		margin:0px auto;
}
nav ul{
		float:left;
		list-style:none;
		margin-left:50px;
}
nav ul li{
		float:left;
		padding:11px 15px;
}
nav ul li a{
		color:white;
		font-size:16px;
		font-family:arial;
		text-decoration:none;
		
}
nav ul li: hover a{
		border-bottom:5px solid #206ab5;
}
nav div#subnav>div{
		float:right;
		background-color:white;
		padding-left:10px;
		margin-top:5px;
		margin-right:5px;
		height:34px;
		width:380px;
		border:0.5px solid #ced2dd;
		border-radius:5px;
}
div input[type=text]
{
		float:left;
		height:30px;
		width:250px;
		font-size:14px;
		border:none;
}
div#hd input[type=submit]
{
		float:left;
		height:30;
		width:80px;
		border-top-mid-radius;5px;
		border-bottom-right-radius:5px;
		border-left:0.5px solid #ced2dd;
		font-size:14px;
}
div input[type=submit]:hover{
	cursor:pointer;
}
div#body{
	width:1200px;
	margin:0px auto;
	background-color::#edeaea;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba (0, 0, 0, 0.19);
}
section>p{
	background:#333;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	text-align:center;
	font-size:16px;
	color:#F03;
	height:25px;
	padding-top:5px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
section>a>h5{
	background:#333;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	text-align:left;
	font-size:16px;
	color:white;
	height:25px;
	padding-top:5px;
	padding-left:5px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
section>a{
	text-decoration:none;
}
section>tr>td>div>img {
	width:250px;
	height:250px;
}
footer{
	background-color:white;
	height:100px;
	padding-top:10px;
}
footer{
	text-align:center;
	font-size:15px;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
}
footer div#ft1 td{
	color:white;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px
}
footer div#ft1 a{
	text-decoration:none;
	color:white;
}
footer div#ft1 a:hover{
	text-decoration:underline;
}
/* Dropdown Button */
.dropbtn {
  background-color:#444;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#666;}
	
	table#tbchon{
    border-collapse:collapse;
	border-radius: 5px;
  	overflow: hidden;
}
table#tbchon td{
	padding: 5px;
}
.hinhsp:hover{
	transform:scale(1.1);
}